.App {
  text-align: left;
  margin: 50px;
  display: flex;

}
.ingr{
  position: relative;
  border: 2px solid black;
  width: 50%;
  padding: 20px 0 0;
}
.ingr h2 {
  padding: 0 5px;
  background: #fff;
  position: absolute;
  top: -35px;
  left: 15px;
}
.burg{
  position: relative;
  border: 2px solid red;
  border-bottom: none;
  border-right: none;
  width: 50%;
  text-align: center;
}
.burg h2 {
  padding: 0 5px;
  background: #fff;
  position: absolute;
  top: -35px;
  left: 15px;
}
.price p{
  margin: 30px;
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.wrapper{
  margin-left: 50px;
}
.btn{
  margin-bottom: 20px;
}
.btn p{
  font-weight: bold;
}
.btnRemove{
  margin-left: 30%;
  width: 90px;
  height: 100px;
  font-size: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #71d615 url("img/remove.svg") 50% 50% no-repeat;
}
.btnRemove:active  {
  background: #fff url("img/remove-bold.svg") 50% 50% no-repeat;
}
.butt{
  padding: 10px;
  width: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
